<h1> Chores</h1>


<%= form_with scope: :chore, url: chores_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :duration %><br>
    <%= form.text_area :duration %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
